$color-gradient: linear-gradient(to right, #4b81e6, #3982ff);
$color-primary: #4e71ff;
$color-gray: rgb(233, 233, 233);
$color-yellow:rgb(255, 230, 7);
$color-white:#fff;
$shadow-primary:0.2rem 0.2rem 0.8rem 0.6rem rgb(202, 202, 202);
$color-green:rgb(17, 128, 17);

