.footer{
    background-color: $color-primary;
    .about-discounts{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3rem;
        padding: 4rem 1rem;
        .fas{
            font-size: 4rem;
            color: rgba(255, 255, 255, 0.623);
        }
        &-container{
            padding: 1rem;
            flex: 0.4;
            h2{
                font-size: 2.5rem;
                text-transform: uppercase;
                color: $color-white;
                margin-bottom: 1rem;
            }  
            p{
                font-size: 2rem; 
                color: rgba(255, 255, 255, 0.548);
            }
        }
        .signup{
            flex: 0.5;
            width: 50%;
            position: relative;
            border-radius: 1rem;
            input{
                border: 0;
                height: 6rem;
                width: 80%;
                padding: 1rem;
                font-size: 2rem;
                color: $color-primary;
                font-weight: 600;
                &:focus{
                    outline: none;
                }
            }
            .signup-btn{
                text-transform: uppercase;
                 padding: 0.4rem 1.5rem;
                 height: 6rem;
                 width: 15rem;
                 color: rgba(0, 0, 0, 0.795);
                 font-weight: 600;
                 background-color: $color-yellow;
                 border: 0;
                 font-size: 2rem;
                 position: absolute;
                 right: 2;
                 
            }
        }
    }
    .contactus{
        display: flex;
        align-items: center;
        padding: 1rem;
        .followus{
            flex: 0.5;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 3rem;
            .fab{
                width: 8rem;
                height: 8rem;
                background-color: rgba(255, 255, 255, 0.178);
                font-size: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-white;
                border-radius: 50%;
                transition: all 0.2s ease-in;
                &:hover{
                    background-color: $color-white;
                    color: $color-primary;
                }
            }
        }
        .contact{
            flex: 0.5;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 3rem;
            p{
                font-size: 2.5rem;
                color: $color-white;
                transition: all 0.2s ease-in;
                &:hover{
                    opacity: 0.6;
                }
            }
           
        }
    }
    .copyright{
        color: $color-white;
        opacity: 0.7;
        font-size: 2rem;
        padding: 4rem;
        margin-left: 4rem;
    }
}

@media (max-width:56.25em) {
    .footer{
        width: 100%;
        align-items: center;

        .about-discounts{
            position: relative;
            flex-direction: column;
            text-align: center;
            .fas{
                display: none;
            }
            .signup{
                position: relative;
                width:70%;
                left: 0;
                margin-right: 3%;               
                input{
                    width: 80%;
                }
                .signup-btn{
                    width:15rem;
                    padding: 0.3rem 0.7rem;
                    font-size: 2rem;
                    
                    
                }
            }
        }
        .contactus{
            flex-direction: column;
            gap: 2rem;
        }
    }
}




@media (max-width:37.5em) {
    .footer{
        width: 100%;
        align-items: center;

        .about-discounts{
            position: relative;
            flex-direction: column;
            text-align: center;
            .fas{
                display: none;
            }
            .signup{
                position: relative;
                width:70%;
                left: 0;
                margin-right: 3%;               
                input{
                    width: 80%;
                }
                .signup-btn{
                    width:8rem;
                    padding: 0.3rem 0.7rem;
                    font-size: 1.5rem;
                    
                    .fa{
                        display: none;
                    }
                }
            }
        }
        .contactus{
            flex-direction: column;
            gap: 2rem;
        }
    }
}
